@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';

@theme {
  --color-accent: #7aba4b;
  --color-accent-on-hover: #70a843;
  --color-text: #4d4e4d;
  --color-gray: #696969;
  --color-lightGray: #f2f4f3;
  --color-whiteColor: #ffffff;
  --color-blackColor: #000000;
  --color-textRed: #ff0000;

  --font-body: 'Roboto', sans-serif;

  /* --font-weight-extraLight: '200';
  --font-weight-light: '300';

  --font-size-sm: 0.875rem/1.25rem;
  --font-size-base: 1rem/1.5rem; */
  /* --font-size-xl: 1.5rem/2rem; */
}

input:-webkit-autofill {
  @apply bg-whiteColor text-text;
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

/* @layer component {
  .heading-wrapper {
    @apply relative m-4 min-h-[12rem] bg-cover bg-center rounded-xl 
    md:min-h-[16rem] 
    lg:min-h-[24rem] 
    2xl:m-0 2xl:mr-0;
  }

  .heading {
    @apply pt-3 pl-3 text-xl text-blackColor tracking-wide font-thin
    md:pt-8 md:pl-6 
    lg:text-5xl lg:pt-12 lg:pl-16;
  }

  .field {
    @apply flex flex-col gap-2 my-8;
  }

  .label {
    @apply pl-3 text-text text-base font-light;
  }

  .input {
    @apply p-3 rounded-xl text-base text-text font-light border border-whiteColor;
  }

  ::placeholder {
    @apply text-base font-extraLight text-text;
  }

  .submit-button {
    @apply w-32 p-3 rounded-xl border border-accent bg-accent text-whiteColor font-light tracking-widest hover:bg-accent-on-hover;
  }

  .description-text {
    @apply text-base font-light text-justify text-text
    lg:text-xl;
  }

  .footer {
    @apply h-80 pt-12 pl-4 pr-4 pb-12 bg-text 
    md:pl-8 md:pr-8 
    2xl:flex justify-center 2xl:pl-0 2xl:pr-0;
  }

  .footer-icon {
    @apply text-accent size-5;
  }

  .footer-link {
    @apply hover:text-accent;
  }

  .footer-contact-details {
    @apply text-sm text-whiteColor font-light flex flex-col gap-4 justify-center md:items-end;
  }

  .list-container {
    @apply backdrop-blur-3xl flex flex-col items-start gap-10 pt-10 pl-10 fixed top-0 right-0 h-full w-52 z-50 transition-transform duration-500 ease-out;
  }

  .menu-list {
    @apply flex flex-col gap-6 w-full;
  }

  .menu-list-medium {
    @apply flex justify-around gap-10 lg:gap-14;
  }

  .menu-list li {
    @apply border-b border-accent text-text text-sm font-light hover:text-blackColor;
  }

  .menu-list-medium li {
    @apply text-text font-light text-base hover:text-accent;
  }

  .services-header {
    @apply pt-6 text-center text-gray text-xl lg:pt-12;
  }

  .services-list {
    @apply m-8 p-6 flex flex-col items-center 
    md:flex-row md:justify-evenly md:flex-wrap;
  }

  .service-item {
    @apply scroll-mt-20 border-b-2 border-accent bg-whiteColor text-text font-light p-14 md:flex md:justify-around md:items-center xl:scroll-mt-16;
  }
  .service-heading {
    @apply text-center text-wrap font-normal text-base mb-4;
  }

  .value-item {
    @apply w-20 h-20 flex flex-col justify-around items-center 
    lg:w-24 lg:h-24;
  }

  .value-number {
    @apply text-base text-blackColor font-medium border-b border-accent
    lg:text-3xl;
  }

  .value-text {
    @apply text-center text-sm text-text font-light 
    lg:text-base;
  }

  .values-list {
    @apply absolute right-0 bottom-0 bg-whiteColor rounded-tl-xl p-2 flex justify-around 
    md:w-2/4 xl:w-2/5;
  }
} */
