@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .service-item-common {
    @apply bg-white border border-green rounded-xl flex flex-col items-center text-darkGray font-lightWeight;
  }
}

.heading-wrapper {
  @apply relative m-4 min-h-[12rem] bg-cover bg-center rounded-xl 
  md:min-h-[16rem] 
  lg:min-h-[24rem] 
  xl:m-0 xl:mr-0;
}

.heading {
  @apply pt-3 pl-3 text-largeFontSize text-white tracking-wide font-thin
  md:pt-8 md:pl-6 
  lg:text-5xl lg:pt-12 lg:pl-16;
}

.preamble {
  @apply absolute right-0 bottom-0 bg-white rounded-tl-lg p-2 w-2/4 flex flex-col text-darkGray text-baseFontSize font-lightWeight 
  md:pl-16 md:pr-16
  lg:h-1/4 lg:w-5/12 lg:pt-4 lg:pb-4 lg:text-largeFontSize;
}

.description-text {
  @apply text-baseFontSize font-lightWeight text-center text-darkGray
  lg:text-largeFontSize;
}

.services-header {
  @apply pt-6 text-center text-gray text-baseFontSize 
  lg:text-largeFontSize lg:pt-12;
}

.services-list {
  @apply m-8 p-6 flex flex-col items-center md:flex-row md:justify-evenly md:flex-wrap;
}

.service-item {
  @apply service-item-common justify-around p-2 m-2 w-32 h-32 text-baseFontSize;
}

.service-item-expand {
  @apply service-item-common justify-around p-10 m-2 w-80 h-96;
}

.service-item-large-screen {
  @apply service-item-common justify-start p-8 m-2 w-80 h-80;
}

.service-heading {
  @apply w-full text-center text-wrap text-smallFontSize font-normal 
  lg:text-baseFontSize xl:mb-10;
}

.footer {
  @apply h-80 pt-12 pl-4 pr-4 pb-12 bg-darkGray 
  md:pl-8 md:pr-8 
  xl:flex justify-center xl:pl-0 xl:pr-0;
}

.footer-icon {
  @apply text-green size-5;
}

.footer-contact-details {
  @apply text-smallFontSize text-white font-lightWeight flex flex-col gap-4 justify-center md:items-end;
}
