@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-body h-full;
}

.heading-wrapper {
  @apply relative m-4 min-h-[12rem] bg-cover bg-center rounded-xl 
  md:min-h-[16rem] 
  lg:min-h-[24rem] 
  xl:m-0 xl:mr-0;
}

.heading {
  @apply pt-3 pl-3 text-2xl text-white tracking-wide font-thin
  md:pt-8 md:pl-6 
  lg:text-5xl lg:pt-12 lg:pl-16;
}

.preamble {
  @apply absolute right-0 bottom-0 bg-white rounded-tl-lg p-2 w-2/4 flex flex-col text-darkGray text-base font-light 
  md:pl-16 md:pr-16
  lg:h-1/4 lg:w-5/12 lg:pt-4 lg:pb-4 lg:text-2xl;
}

.description-text {
  @apply text-base font-light text-center text-darkGray
  lg:text-2xl;
}

.services-header {
  @apply pt-6 text-center text-gray text-base 
  lg:text-2xl lg:pt-12;
}

.services-list {
  @apply m-8 p-6 flex flex-col items-center md:flex-row md:justify-evenly md:flex-wrap;
}

.service-item {
  @apply bg-white border border-green rounded-xl p-2 m-2 w-32 h-32 flex flex-col justify-around items-center text-darkGray font-light text-base xl:w-36 xl:h-36;
}

.service-item-expand {
  @apply bg-white border border-green rounded-xl p-10 m-2 w-80 h-96 flex flex-col justify-around items-center text-darkGray font-light;
}

.service-heading {
  @apply w-full text-center text-wrap text-sm font-normal 
  lg:text-base;
}

.footer-icon {
  @apply text-green size-5;
}
