@tailwind components;

@layer components {
  .value-item {
    @apply w-20 h-20 flex flex-col justify-around items-center 
    lg:w-24 lg:h-24;
  }

  .value-number {
    @apply text-baseFontSize text-black font-medium border-b border-green
    lg:text-3xl;
  }

  .value-text {
    @apply text-center text-smallFontSize text-darkGray font-lightWeight 
    lg:text-baseFontSize;
  }
}
